
*{
    padding: 0;
    margin:0;
}


@mixin DesktopSectionDisplay() {
    width: 90%;
    height:40rem;
    margin:auto;
    
}
@mixin MobileSectionDisplay(){
    width:90%;
    height:40rem;
    margin:auto;
}

.main{
    width: 100%;
    height:40rem;
    background-color: hsl(223,24%,6%);
   
}
.main__head{
    width: 80%;    
    margin: auto;
    height: 40rem;
    
}
.main__head_empty{
    width: 100%;
    height:3rem;

}
.main__head_logo{
    width: 10rem;
    height: 10rem;
    margin: auto;
    border-radius: 50%;
    background-image:url('../images/unnamed\ \(2\).jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.main__head_name{
    margin-top: 2rem;
    text-align: center;
    width: 100%;
    line-height: 1rem;
    color:#fff;
    text-transform: capitalize;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
}

.main__head_introduction{
    width: 70%;
    line-height: 2rem;
    text-align: center;
    margin: auto;
    color:#fff;
    font-size: 20px;
    margin-top:3rem;
}

.main__rectangle{ 
animation-name: rectangle-rotate;

animation-duration: 6s;
animation-iteration-count: infinite;
position: absolute;
top:20rem;
left:40rem;
height: 5rem;
width:5rem;
border: .5rem solid #b87605;
}

@keyframes rectangle-rotate{
    0% {
        transform: rotate(360deg);
        height: 0rem;
        width:0rem;
        border: .1px solid #ee9e14;

    }
    25% {
        transform: rotate(360deg);
        height: 1rem;
        width:1rem;
        border: .3rem solid #d69626;
    }
    // 50%{
    //     transform: rotate(180deg);
    //     height: 5rem;
    //     width:5rem;
    //     border: .5rem solid #b87605;
    // }
    // 75%{
    //     transform: rotate(270deg);
    //     height: 6rem;
    //     width:6rem;
    //     border: .7rem solid #6d4c12;
    // }
    100% {
        transform: rotate(360deg);
        height: 7rem;
        width:7rem;
        border: .8rem solid #42300f;
    }
}
.projects{
    height: 150rem;
    width: 100%;
    background-color: #000;
}
.projects__work{
    @include DesktopSectionDisplay();
}
.projects__work_title{
    color:#fff;
    font-size: 30px;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    margin-left: 1rem;
    margin-bottom:1rem;
}
.project__work_line{
    width:100%;
    height:1px;
    background-color: #fff;
}
.project__work_info{
    height:25rem;
    width:20rem;
    margin:2rem 0rem;
    color:#fff;
    background-color:#0C0E13;
    
}
.project__work_info__company{
    font-size: 33px;
    font-weight: 600;
    line-height: 2rem;
    width: 90%;
    text-transform: capitalize;
    margin:auto;
    padding:2rem 0rem;
}
.project__work_info__description{
    width: 85%;
    line-height: 1.6rem;
    font-size: 18px;
    margin: 0.2rem auto;
}
.project__work_info__resume{
    width:18rem;
    line-height: 1rem;
    margin: 1rem;
    height:1.3rem;
    color:#fff;
    font-size: 25px;
    text-decoration: none;
    border-bottom: solid #b87605 1rem;
    
}
.project__work_info__resume:hover{
    padding-bottom: -1rem;
    cursor: pointer;
    margin-bottom: 0rem;
    line-height: 0rem;
    border-bottom: solid #b87605 1rem;
}
.project__projects_info{
    height:30rem;
    width:20rem;
    margin:2rem 0rem;
    color:#fff;
    background-color:#0C0E13;
    
}
.project__work_view{
    display: flex;
    justify-content: space-between;
    width: 90%;
    height:4rem;
    margin:1.5rem auto;
}
.project__work_view_btn{
    height:3rem;
    width:45%;
    background-color: #fff;
    text-transform: capitalize;
    color:gray;
    font-weight: 600;
    font-size: 15px;
    border-radius: 16px;
    border:2px solid #b87605;
    cursor: pointer;
}
.project__work_view_btn:hover{
    border:2px solid #FFF;
    background-color: #b87605;
    color:#0C0E13;
    
}

.projects__projects{
    @include DesktopSectionDisplay();
}
.projects__grid{
    display: flex;
    justify-content: space-between;
}

.projects__blogs{
    @include DesktopSectionDisplay();

}
// sm-breakpoint;
@media (max-width:650px){
    .main{
        width: 100%;
        height:60rem;
        
       
    }
    .main__head{
        width: 100%;    
        margin: auto;
        height: 55rem;
        
    }
    .main__head_empty{
        width: 100%;
        height:5rem;
    
    }
    .main__head_name{
        margin-top: 3rem;
        text-align: center;
        width: 100%;
        line-height: 1rem;
        color:#fff;
        text-transform: capitalize;
        font-size: 33px;
        font-family: 'Times New Roman', Times, serif;
        font-weight: 400;
    }
    .main__head_introduction{
        width: 90%;
        line-height: 2.1rem;
        text-align: center;
        margin: auto;
        color:#fff;
        font-size: 20px;
        margin-top:3rem;
    }
    .main__rectangle{ 
        animation-name: rectangle-rotate;
        
        animation-duration: 6s;
        animation-iteration-count: infinite;
        position: absolute;
        top:20rem;
        left:1rem;
        height: 5rem;
        width:5rem;
        border: .5rem solid #b87605;
    }
    .projects{
        height: 300rem;
        width: 100%;
        background-color: #000;
    }
    .projects__work{
        @include MobileSectionDisplay();
    }
    .projects__work_title{
        color:#fff;
        font-size: 30px;
        text-transform: uppercase;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: 600;
        
        margin-bottom:1rem;
        text-align: center;
    }
    .project__work_info{
        height:25rem;
        width:100%;
        margin:4rem 0rem;
        color:#fff;
        background-color:#0C0E13;   
    }
    .project__work_info__description{
        width: 95%;
        height:7rem;
        line-height: 1.4rem;
        font-size: 20px;
        margin: 1rem auto;  
    }
    .project__work_info__resume{
        width:95%;
        line-height: 1rem;
        margin: 4rem auto;
        font-size: 20px;
    }
    .projects__projects{
        @include MobileSectionDisplay();
        height: 100rem;

    }
    .projects__grid{
        display: block;
        
    }
}
// md-breakpoint;
@media (max-width:950px) and (min-width:651px ){
    .main{
    width:100%;
    height:60rem;
    }
    .main__head{
        width: 100%;    
        margin: auto;
        height: 55rem;
        
    }
    .main__head_empty{
        width: 100%;
        height:5rem;
    
    }
    .main__head_name{
        margin-top: 3rem;
        text-align: center;
        width: 100%;
        line-height: 1.2rem;
        color:#fff;
        text-transform: capitalize;
        font-size: 38px;
        font-family: 'Times New Roman', Times, serif;
        font-weight: 400;
    }
    .main__head_introduction{
        width: 90%;
        line-height: 2.1rem;
        text-align: center;
        margin: auto;
        color:#fff;
        font-size: 20px;
        margin-top:3rem;
    }
    .main__rectangle{ 
        animation-name: rectangle-rotate;
        
        animation-duration: 6s;
        animation-iteration-count: infinite;
        position: absolute;
        top:20rem;
        left:1rem;
        height: 5rem;
        width:5rem;
        border: .5rem solid #b87605;
    }
    .projects{
        height: 200rem;
        width: 100%;
        
    }
    .projects__work{
        @include MobileSectionDisplay();
    }
    .projects__work_title{
        color:#fff;
        font-size: 30px;
        text-transform: uppercase;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: 600;
        
        margin-bottom:1rem;
        text-align: center;
    }
    .project__work_info{
        height:25rem;
        width:100%;
        margin:4rem 0rem;
        color:#fff;
        background-color:#0C0E13;   
    }
    .project__work_info__description{
        width: 95%;
        height:7rem;
        line-height: 1.4rem;
        font-size: 20px;
        margin: 1rem auto;  
    }
    .project__work_info__resume{
        width:95%;
        line-height: 1rem;
        margin: 4rem auto;
        font-size: 20px;
    }
    .projects__projects{
        @include MobileSectionDisplay();
        height: 100rem;

    }
    .projects__grid{
        display: block;
        
    }
}